@import '__variables';
@import '__nav';
@import '__features';
@import '__contact';
@import '__buttons';
@import '__home';
@import '__helper';

* {
    box-sizing: border-box;
}

:root {
    position: relative;
    height: 100%;
    font-size: 18px;
}

body {
    font-family: $body_font;
    background-color: $bg_colour;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title_font;
    letter-spacing: 0.08rem;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}

.container {
    min-height: 100%;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.cover-page-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}